.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;;
}

.baloon { 
  position: absolute;
  right:250px;
  bottom: 40px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  bottom: 120px;
  right: 290px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  right: 70px;
}