h1 {font-size:65px;
    color: orange;
    font-family: sans-serif;}

    .list {background-color: chocolate;}

    p {font-weight: 600; font-size: 3em;}

    body {font-size: 16px;}

    .yellow {background-color: yellow;}
    .red {background-color:red;}
    .brown {background-color: brown;}